{% assign on_sale = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

{% assign show = true %}
{% if sold_out %}
    {% unless settings.show_out_of_stock %}
    {% assign show = false %}
    {% endunless %}
{% endif %}

{%- assign grid_image_width = '254x300' -%}
{%- assign grid_image_scale = '2' -%}

{% assign countdown = product.metafields.c_f.countdown %}
{% if show %}

<div class="prd prd-{{ settings.product_card_hover }} prd-has-loader {% if sold_out %}prd-outstock{% endif %} {% if countdown != blank %}prd-has-countdown{% endif %} product-item {% if sold_out %}product-item--not-available{% endif %} product-id-{{ product.selected_or_first_available_variant.id }} tag-all-{{ collection.handle }} {% if section.settings.tabs and section.settings.tags != blank %}{% for tag in product.tags %} tag-{{ tag | handle }} {% endfor %}{% endif %}">
  {% capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with product.id %}{% endcapture %}
          {% unless the_snippet_fave_icon contains 'Liquid error' %}
          {{ the_snippet_fave_icon }}
          {% endunless %}    
  <div class="prd-inside">
        <div class="prd-img-area">
          
            <!-- correct search results url -->
            <!-- custom url instructions: https://community.shopify.com/c/Technical-Q-A/URL-has-additional-string/m-p/593294/highlight/true#M13356 -->
            {% assign newproducturl = product.url | split: '?' %}
            <a title="{{ product.title }}" class="prd-img  prd-qview-link js-qview-link" data-fancybox data-type="ajax" data-src="{{newproducturl[0]}}?view=quick-view&output=embed">
               
                {%- comment -%}https://speedboostr.com/shopify-lazy-loading/{%- endcomment -%}
                <img data-src="{% if product.featured_image.size > 0 %}{{ product.featured_image.src | img_url: grid_image_width, scale:2 }}{% else %}{{ 'no-image.jpg' | asset_url }}{% endif %}"
                    class="product-image js-prd-img lazyload"
                    alt="{{ product.featured_image.alt | escape }}">

            </a>
            {% if sold_out %}<div class="label-outstock">{{ 'general.theme.out_of_stock' | t }}</div>{% endif %}
            {% if on_sale and settings.show_label_sale %}
                <div class="label-sale"> -{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by:product.selected_or_first_available_variant.compare_at_price | times: 100 | divided_by: 100 | floor }}%</div>
            {% endif %}
            {% assign new = 0 %}
            {% for tag in product.tags %}{% if tag == 'new' %}{% assign new = 1 %}{% endif %} {% endfor %}
            {% if new == 1 and settings.show_label_new %}<div class="label-new">{{ 'general.theme.new' | t }}</div>{% endif %}
            {% include 'wishlist-product-preview' %}
            {% include 'product-colors' %}
            {% if countdown != blank %}
                <div class="countdown-box">
                    <div class="countdown js-countdown" data-countdown="{{  countdown }}"></div>
                </div>
            {% endif %}
          <div class="gdw-loader"></div>
        </div>
        <div class="prd-info">
            {% if settings.show_vendor %}<div class="prd-tag prd-hidemobile">{{ product.vendor  }}</div>{% endif %}
            <h2 class="prd-title">
                <a title="{{ product.title  }}" class="prd-qview-link js-qview-link" data-fancybox data-type="ajax" data-src="{{ product.url }}?view=quick-view&output=embed">{{ product.title | truncate: 27 }}</a>
            </h2>
            {% comment %}
            <div class="prd-rating {% if settings.stars_mobile_off %}prd-hidemobile{% endif %}"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
            {% endcomment %}
            {% include 'product-card-price' %}
            {% include 'prd-action' %}
        </div>
    </div>
</div>
{% endif %}
